.container {
    padding-top: 40px;
    padding-right: 50px;
    padding-left: 50px;

}
.carta .carta2{
    margin-left: 10px;
    
}

.grupo{
    border-color: black;
}

.carta {
    width: 100%;
    max-width: 400%;
    padding: 12px;
    margin: 5px;
    height: auto;
}

@media (max-width: 992px) {

    .cartas {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 50px 0px;

    }
}

.body {
    background-color: aquamarine;
}