<body>
    <div class="card-deck container">
        <div class="card-group grupo">
            <div class="card carta">
                <div class="card-header" id="header-1"></div>
                <div class="card-body">
                    <h5 class="card-title">Técnico de nivel superior en Informática</h5>
                    <p class="card-text">Diurno</p>
                    <button type="button" class="btn btn-outline-success" id="ingresar">Ingresar</button>
                </div>
            </div>
            <div class="card carta carta2">
                <div class="card-header" id="header-2"></div>
                <div class="card-body">
                    <h5 class="card-title">Técnico de nivel superior en Informática</h5>
                    <p class="card-text">Vespertino</p>
                    <button type="button" class="btn btn-outline-success" id="ingresar">Ingresar</button>
                </div>
            </div>

        </div>
    </div>
</body>