*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
    margin-top: 5px;
    padding: 100px;
}

.carta .logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.carta .conteiner{
    background-position: center center;
    background-size: 40em;
    padding: 50px;
    margin: 50px;
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgba(0,0, 0, 0.5);
}

.carta .conteiner a:hover{
    color: rgba(0, 15, 221, 0.918);
}