*{
    box-sizing: border-box;
}

html{
    background-color: #A6669F;
}

body {
    background-color: #A6669F;
}

.carta {
    display: flex;
    flex-direction:row;
    padding: 65px;
    justify-content: center;
    align-items: center;
}

.carta .logo img{
    width: 500px;
    height: 300px;
}

.carta .conteiner{
    color: #602970;
    width: 450px;
    max-height: 400px;
    background-color: white;
    background-position: center center;
    background-size: 40em;
    padding: 50px;
    margin: 50px;
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgba(0,0, 0, 0.5);
}

.carta .conteiner a:hover{
    color: rgba(0, 0, 0, 0.918);
}

.carta .conteiner button{
    background-color: #9C5DAF;
    color:aliceblue;
}

.conteiner h3{
    font-size:large;
    font-family: system-ui, -apple-system, Roboto,'Open Sans', sans-serif;
    text-align: center;
    text-decoration: #602970;
}

.conteiner .form-control{
    outline: 0;
    border-width: 0 0 3px;
    border-color: #602970;
}

.form-control:focus {
    border-color: #9C5DAF;
}


