.container{
    margin-top: 10px;
    width: 83%;
}

.container.chico{
    margin-left: 260px;
    min-width: 1000px;
}

/* .tab-content{
    min-width: 1000px;
} */

tr th button[disabled].alo{
    background: none;
    border-color: gray;
    color: black;
    margin-right: 1%;

}


th a.alo{
    cursor: pointer;
    font-size: 20px;
}



div.botones{
    display: flex;
    justify-content: right;
    margin-bottom: 30px;
}


div button.alo{
    margin-right: 1%;
}


